body {
    font-family: Arial, sans-serif;
    background-color: #0d0d1d;
    color: #fff;
    height: 100%;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 10px 20px; 
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    padding: 0;
    flex: 1; 
}

.nav-list li {
    margin: 0 20px; 
}
    
.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
    
.nav-list a:hover {
    color: #ddd; 
}
    
    
.navbar-logo {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}
.form-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #3b2f4b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.caixas,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #5a73f4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.botao:hover,
button:hover {
    background-color: #3a56c1;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c5cbe3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cadastrar{
    width: 100%;
    padding: 10px;
    background-color: #5a73f4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 12px;
}
.teste {
    font-size: 20px;
    text-align: center;
}
.paineladm {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #3b2f4b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.dados {
    text-align: center;
    border: 1px solid red;
    width: 960px;
    padding: 10px;
    background-color: rgb(29, 25, 25);
    color: white;
    
}
.dados td {
    padding: 5px;
}
.areamsg {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: black;
    text-align: center;
    word-break: break-all;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}